@charset "utf-8";  /*@는 뭔가를 선언할 때 사용 HTML에서 UTF-8을 하면 CSS도 이렇게 해야함.*/

/*다운로드가 필요한 것을 먼저 위치시키는게 좋다*/
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

@import url('./normalize.css');
/* @import url('./reset.css'); reset.css는 요즘 거의 안쓴다. */


/*기본 스타일*/
html{
  font-size: 10px;
}

body{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 700;
  font-size: 1.4rem;
  color: #181818;
  background: #fff;
}

a{
  color: inherit; /*a는 body의 자식이므로 상속을 지정하면 body것을 가져온다.*/
  text-decoration: none;
}

/* 공통 스타일 7월27일 */


/* 모바일 스타일 7월27일 */
@media screen and (min-width: 320px) and (max-width:999px){ /*최소 사이즈는 고객 리서치로 결정*/
  /*모바일 헤더*/
  .header{
    background: #38303e;
    color: #fff;
    display: flex;
    flex-direction: row; /*row 즉 행방향 기준을 통해서 세로 정렬을 시도하고 있다.
    flex-wrap: wrap;  /*nowrap은 줄바꿈 안함 */
  }
  .logo, .member, .search-form{
    width:100%;
  }
  /*모바일 멤버링크*/
  .member{
    background: #988574;
    order: -1;
  }
}  

/* 데스크탑 스타일 7월27일 */
@media screen and (min-width: 1000px){ /*1000px 이상은 데스크탑으로 보겠다는 의지*/

}/*이런걸 검색해서 참고한다.  https://ricostacruz.com/til/css-media-query-breakpoints */

/* a:link{
  color: green;
}
a:visited{
  color:grey;
}
a:hover, a:focus{
  color: red[]
} */
